<!-- BACKGROUND -->
<div class="background">
  <!-- LOGO -->
  <button class="logo" ></button>

  <!-- CROP WRAPPER -->
  <div class="crop-wrapper">
    <!-- VIDEO -->
    <video controls (click)="toggleVideo($event)" #videoPlayer class="snow">
      <source src="../assets/Rough%20Cut.mp4" type="video/mp4" />
      Browser not supported
    </video>
  </div>
  <!-- INFO BUTTON -->
  <button  class="info-button"></button>

  <!-- CONTACT -->
  <h3 class="contact">Contact@Trikon.xyz | Silverlake, Los Angeles</h3>
  <h3 class="motto">Of the Future </h3>
</div>



